<div class="container">
  <main class="contact-main">
    <div class="row">
      <div class="column-1">
        <h1>Contact</h1>
        <p>Feel free to contact me about anything. Send me an email or shoot me a message below. Thanks!</p>
        <form (ngSubmit)="sendEmail()" [formGroup]="contactForm">
          <div class="form-group">
            <label for="">Name</label>
            <input type="text" placeholder="Name" formControlName="name" required>
            <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
              <div *ngIf="name.errors.required">
                Name is required.
              </div>
            </div> -->
            <div *ngIf="contactForm.controls.name.invalid && contactForm.controls.name.touched">Please enter your name</div>
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input type="email" placeholder="Email" formControlName="email" required>
          </div>
          <div class="form-group">
            <label for="">Message</label>
            <textarea formControlName="message" required></textarea>
          </div>
          <button type="submit">Send</button>
        </form>
        <p>Form value {{ contactForm.value | json }} </p>
        <p> Form status {{ contactForm.status | json}} </p>

      </div>
    </div>
  </main>
</div>
