<div class="container">
  <main class="contact-main">
    <div class="row">
      <div class="column-1">
        <h1>Contact</h1>
        <p>Feel free to contact me about anything. Send me an email or shoot me a message below. Thanks!</p>
        <section class="contact-block">
          <div class="contact-block-1">
            <div class="contact-location">
              <img class="contact-icon" src="../../../assets/images/location-icon.png" alt="Location pin icon">
              <p>Brooklyn, NY</p>
            </div>
            <div class="contact-email">
              <img class="contact-icon" src="../../../assets/images/mail-icon.png" alt="Mail icon">
              <p>zrbayoffdev@gmail.com</p>
            </div>
          </div>
          <div class="contact-block-2">
            <div>
              <a href="https://github.com/zbayoff" target="_blank">
                <img src="../../../assets/images/github-logo.png" alt="Github logo">
              </a>
            </div>
            <div>
              <a href="https://www.linkedin.com/in/zachary-bayoff-6281a1a2/" target="_blank">
                <img src="../../../assets/images/linkedin-logo.png" alt="Linkedin logo">
              </a>
            </div>
          </div>
        </section>
        <form novalidate (ngSubmit)="sendEmail()" [formGroup]="contactForm">
          <div class="form-group">
            <label class="visuallyhidden" for="">Name</label>
            <input type="text" placeholder="Name" formControlName="name" required>
            <p class="alert alert-danger" *ngIf="contactForm.controls.name.invalid && contactForm.controls.name.touched">Please enter your name.</p>
          </div>
          <div class="form-group">
            <label class="visuallyhidden" for="">Email</label>
            <input type="email" email placeholder="Email" formControlName="email" required>
            <p class="alert alert-danger" *ngIf="contactForm.controls.email.invalid && contactForm.controls.email.touched">Please enter a valid email.</p>
          </div>
          <div class="form-group">
            <label class="visuallyhidden" for="">Message</label>
            <textarea formControlName="message" placeholder="Message" required></textarea>
            <p class="alert alert-danger" *ngIf="contactForm.controls.message.invalid && contactForm.controls.message.touched">Please provide a brief message.</p>
          </div>
          <div class="msg-block">
            <button class="button-link" type="submit" [disabled]="!contactForm.valid">Send
              <span class="button-link__arrow fa fa-angle-right"></span>
            </button>
            <span class="message-msg sending" *ngIf="sendingStatus === 'sending'">Sending<span>.</span><span>.</span><span>.</span></span>
            <span class="message-msg" *ngIf="sendingStatus === 'sent'" [ngClass]="{'success-msg': resonseStatus === 'ok', 'fail-msg': resonseStatus === 'error' }">{{responseMessage}}</span>
          </div>

        </form>
      </div>
    </div>
  </main>
</div>
<app-footer></app-footer>
