<div class="container">
  <main class="portfolio-main">
    <h1 data-tilt data-tilt-max="50" data-tilt-speed="400">Portfolio</h1>
    <ul *ngFor="let portfolio_item of portfolioList">
      <li>{{portfolio_item.name}}
        <a routerLink="{{portfolio_item.route_url}}">
          <img class="portfolio-item-img" src={{portfolio_item.img}}>
        </a>
      </li>
    </ul>
  </main>

</div>
<script type="text/javascript" src="vanilla-tilt.js"></script>

<!-- <app-portfolio-item></app-portfolio-item> -->
