<div class="container">
  <main class="portfolio-main">
    <div class="row">
      <div class="column-1">
        <h1>Portfolio</h1>
        <section class="project-section">
          <div class="portfolio-img-container" *ngFor="let portfolio_item of portfolioList">
              <p class="portfolio-detail-msg">See Details</p>
            <a routerLink="{{portfolio_item.route_url}}">
              
              <img class="portfolio-img" src={{portfolio_item.desc_img}}>
              <div class="portfolio-desc">
                <h2>{{portfolio_item.name}}</h2>
                <h3>{{portfolio_item.short_desc}}</h3>
              </div>
            </a>
          </div>
        </section>
      </div>
    </div>
  </main>
</div>
