<div class="container">
  <main class="about-main">
    <h1>About me</h1>
    <h2>I'm a web developer, based in Brooklyn, NY.</h2>
    <section class="about-section-one">
      <p>I currently work as a naval architect and marine engineer in New York City, but am transitioning into the field of
        web development.
      </p>
      <p>In September 2017, I began a full-stack intensive course at CUNY City Tech, where I began my my studies in web developement.
        HTML5, CSS3, Javascript, PHP, MySQL, and some other web tech goodies (jQuery, Bootstrap4, git). </p>
      <p>During that course, I hit the ground running, creating numerous projects that tested my new found knowledge:</p>
      <ul class="about-subsection">
        <li>I developed an application for roommates who wish to keep track of chores, household purchases, and potential guests
          that may come to visit. (PHP, MySQL, jQuery, AJAX, Bootstrap4).
          <a href="#">See Roomies</a>
        </li>
        <li>I created a mockup of a non-profit site that included Bootstrap features (modals, carousels, accordians).
          <a href="#">See NYJTL</a>
        </li>
        <li>A collection of small vanilla javascript apps that implement new ES6 features.
          <a href="#">See Bayground</a>
        </li>
      </ul>
      <p>In March, I decided to keep up with the more emerging web technologies and took an intermediate front-end course at
        NYU.
      </p>
      <p>Here, I was introduced to NodeJS, NPM, Webpack, Express, MongoDB, Angular and React.</p>
      <a href="">Read More</a>
    </section>
    <section class="about-section-two">
      <p>After learning all of these techs, I was a bit overwhelmed and felt much like the person in
        <a href="https://hackernoon.com/how-it-feels-to-learn-javascript-in-2016-d3a717dd577f"
          target="_blank">this</a> article.</p>
      <p>But I was determined to learn, and again, felt that projects were the best way to dive in.</p>
      <ul class="about-subsection">
        <li>I developed travel application that will keep track of your desired destinations and associated costs you may incur. 
          <a href="#">See Travel-App</a>
        </li>
        <li>A weather application that retreives real-time weather data for any city/country from the OpenWeatherMap API.
          <a href="#">See Weather-App</a>
        </li>
        <li>I am currently working on an app that will help students manage their student loans, allowing them to view the effects of interest and their monthly payments on all of their loans with a friendly UX/UI dashboard. I also plan to use D3js to create pretty graphs and visuals for them.
        </li>
      </ul>
    </section>

  </main>

</div>
