<div class="container">
  <main class="about-main">
    <div class="row">
      <div class="column-1">
        <h2>Greetings!</h2>
        <h1>Hi, I'm Zach - A web developer based in Brooklyn, NY.</h1>
        <h3 class="about-title-heading"><span><img class="about-icon" src="../../../assets/images/user-image-with-black-background.png"></span>Background</h3>
        <img class="me-image" src="../../../assets/images/photo-me.png" alt="Profile photo" title="Profile photo">
        <section class="about-background">
          <p>I currently work as a naval architect and marine engineer in New York City, but am transitioning into the field
            of web development.
          </p>
          <p>In September 2017, I began a full-stack intensive course at CUNY City Tech, where I began my studies in web developement:
            HTML5, CSS3, JavaScript, PHP, MySQL, and some other web tech tools (jQuery, Bootstrap4, git).
          </p>
          <p>After creating numerous <a class="link" routerLink="/portfolio">projects</a>, I took a course at NYU to further enhance my web dev skills: NodeJS, NPM, Webpack,
            Express, MongoDB, Angular and React.</p>
        </section>
        <section class="about-current-work">
            <h3 class="about-title-heading"><span><img class="about-icon" src="../../../assets/images/man-in-office-desk-with-computer.png" alt="Person at work icon"></span>Current Work</h3>
          <p>In addition to my full time job, I am assisting a small team with website development for their startup idea.</p>
          <p>I am also developing an eCommerce site for a friend in the fashion industry.</p>
          <p>When I find free time, I am always tinkering and looking to use new and emerging tech in fun, interesting, and useful projects.</p>
          <a class="button-link" routerLink="/portfolio">See My Portfolio<span class="button-link__arrow fa fa-angle-right"></span></a>
        </section>
        <h3 class="about-title-heading"><span><img class="about-icon" src="../../../assets/images/screwdriver-and-wrench-crossed.png" alt="Skills icon" ></span>Skills &amp; Tech</h3>
        <section class="skills-container">
          <p>I usually begin my projects by sketching wireframes by hand and then moving on to a more concrete mockup using AdobeXD. I create flowcharts to visualize the hierarchy of a sitemap and navigation of the site or project. <br>I also focus on responsive, mobile-first design because I believe it allows for more flexibiity and removes issues caused by translating wide desktop layouts to smaller devices.</p>
          <div class="skills-list">
            <h4><strong>Front-End</strong></h4>
            <ul class="skills-list">
              <li class="skills-list__item">HTML5</li>
              <li class="skills-list__item">CSS3/SASS</li>
              <li class="skills-list__item">JavaScript (ES6)</li>
            </ul>
          </div>
          <div class="skills-list">
            <h4><strong>Back-End</strong></h4>
            <ul class="skills-list">
              <li class="skills-list__item">NodeJS</li>
              <li class="skills-list__item">PHP</li>
              <li class="skills-list__item">MySQL</li>
              <li class="skills-list__item">MongoDB</li>
            </ul>
          </div>
          <div class="skills-list">
            <h4><strong>Libraries &amp; Frameworks</strong></h4>
            <ul class="skills-list">
              <li class="skills-list__item">Angular 6</li>
              <li class="skills-list__item">jQuery</li>
              <li class="skills-list__item">Bootstrap 4</li>
              <li class="skills-list__item">ExpressJS</li>
            </ul>
          </div>
          <div class="skills-list">
            <h4><strong>Other</strong></h4>
            <ul class="skills-list">
              <li class="skills-list__item">Git</li>
              <li class="skills-list__item">NPM</li>
              <li class="skills-list__item">WordPress</li>
              <li class="skills-list__item">AutoCAD</li>
              <li class="skills-list__item">Rhino3D</li>
            </ul>
          </div>
        </section>
        <h3 class="about-title-heading"><span><img class="about-icon" src="../../../assets/images/bumper-car.png" alt="Fun icon"></span>Interests &amp; Hobbies</h3>
        <section class="interest-block">
          <div class="interest-img">
            <img src="../../../assets/images/angus-young.jpg" alt="Angus Young AC/DC Rocker">
          </div>
          <div class="interest-text">
            <h4><strong>Guitar</strong></h4>
            <p>I consider myself a wannabe Angus Young of AC/DC, meaning I rock my face off. 🤘</p>
          </div>
        </section>
        <section class="interest-block">
          <div class="interest-img__flags">
            <img class="usa-flag-img" src="../../../assets/images/usa-flag.png" alt="USA flag">
            <img class="french-flag-img" src="../../../assets/images/france-flag.png" alt="French flag">
          </div>
          <div class="interest-text">
            <h4><strong>French</strong></h4>
            <p>I have recently obtained dual citizenship with France and am fluent in the language.</p>
          </div>
        </section>
        <section class="interest-block">
          <div class="interest-img">
            <img src="../../../assets/images/tennis.jpg" alt="US Open Photo">
          </div>
          <div class="interest-text">
            <h4><strong>Tennis</strong></h4>
            <p>Let's hit. I'm around 5.0.</p>
          </div>
        </section>
        <section class="get-in-touch">
          <h4>Get in touch! Send me an email at zrbayoffdev@gmail.com or shoot me a <a class="link" routerLink="/contact">message.</a></h4>
        </section>
      </div>
    </div>

  </main>
</div>
<app-footer></app-footer>