<header class="header">
  <div class="header-inner">
    <div class="logo-abbrv">
      <p class="logo__text">
        <a routerLink="/">ZB</a>
      </p>
    </div>
    <nav class="navbar" [ngClass]="{'open-nav' : toggle}">
      <a (click)="hideNav()" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
        <img src="../../../assets/images/home.png" alt="home icon">
        <p class="nav-label">Home</p>
      </a>
      <a (click)="hideNav()" routerLink="/about" routerLinkActive="active-link">
        <img src="../../../assets/images/avatar.png" alt="profile icon">
        <p class="nav-label">About</p>
      </a>
      <a (click)="hideNav()" routerLink="/portfolio" routerLinkActive="active-link">
        <img src="../../../assets/images/briefcase.png" alt="briefcase icon">
        <p class="nav-label">Portfolio</p>
      </a>
      <a (click)="hideNav()" routerLink="/contact" routerLinkActive="active-link">
        <img src="../../../assets/images/message.png" alt="mail icon">
        <p class="nav-label">Contact</p>
      </a>
    </nav>
    <div class="nav-toggle" (click)="toggleNav()" [ngClass]="{'open-toggle' : toggle}">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </div>
</header>
