@import './src/sass/variables';
@import './src/sass/mixins';
.home-main {
    height: calc(100vh - 95px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 95px;
    button {
        display: inline-block;
    }
    @include tablet {
        height: calc(100vh - 119px);
        margin-top: 0;
    }
    @include desktop {
        height: calc(100vh - 119px);
        margin-top: 0;
    }
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
    margin: 1.5rem 0;
    text-align: center;
}

h2 {
    color: $accent-color;
    font-size: 2rem;
    margin: 1.5rem 0 0.2rem 0;
}

h3 {
    font-size: 1.25rem;
    margin: 0.5rem 0 1.5rem 0;
}