.home-main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .site-title {
        font-size: 4rem;
        margin: 0.5rem;
    }
    .site-subtitle {

    }
    button {
        display: inline-block;
        background-color: #57467B;
        padding: 0.8rem;
        color: white;
    }
}