.container {
    // height: 2000px;
    padding: 0 1rem;
    // min-height: 100vh;
    height: 100%;
    // width: 100%;
    // overflow: auto;
    margin: 0 0 0 0;
    .about-main, .portfolio-main, .contact-main, .portfolio-item-main {
        margin: 65px auto 0 auto;
        padding: 0;
        width: 100%;
        max-width: 1500px;
        @include tablet {
            padding: 0;
            margin: 0 auto 0 auto;
            // margin: 0 0 0 120px;
            // margin: 0;
            // padding: 8rem 1rem 0 4rem;
            // max-width: 500px;
        }
        @include desktop {
            padding: 0;
            margin: 0 auto 0 auto;
            // margin: 0 0 0 120px;
            // margin: 0;
            // padding: 8rem 1rem 0 4rem;
            // max-width: 500px;
        }
    }
    @include tablet {
        padding: 0 1rem;
        margin: 0 0 0 120px;
    }
    @include desktop {
        padding: 0 1rem;
        margin: 0 0 0 120px;
    }

}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
        // flex-direction: row;
    }
    @include desktop {
        // flex-direction: row;
    }
}

.column-1 {
    // width: 100%;
    max-width: 800px;
    padding: 0;
    @include tablet {
        // width: 100%;
        max-width: 800px;
        // width: auto;
        padding: 0 1rem;
    }
    @include desktop {
        // width: 50%;
        max-width: 800px;
        // width: 50%;
        padding: 0 1rem;
    }
}

.column-2 {
    width: 100%;
    padding: 0;
    @include tablet {
        width: 100%;
        // max-width: 800px;
        // width: auto;
        padding: 0 1rem;
    }
    @include desktop {
        width: 50%;
        // max-width: 800px;
        width: 50%;
        padding: 0 1rem;
    }
}