<!-- <div class="container">
    <main class="portfolio-main">
      <h1>Portfolio-Item: {{portfolio_item.name}}</h1>
     
    </main>
  </div> -->

<div class="container">
  <main class="portfolio-item-main">
    <div class="row hero-row">
      <div class="column-2">
        <h1>{{portfolio_item.name}}</h1>
        <h2>{{portfolio_item.short_desc}}</h2>
        <p class="portfolio-item-desc">{{portfolio_item.description}}</p>
        <a class="project-link-url button-link" href={{portfolio_item.abs_url}} target="_blank">See it Live</a>
        <h4>Tech Used:</h4>
        <ul class="tech-used-list">
          <li *ngFor="let portfolio_tech_item of portfolio_item.technologies">{{portfolio_tech_item}}</li>
        </ul>
      </div>
      <div class="column-2">
        <section class="project-item_desktop-section">
          <div class="project-item_laptop-screenshot">
            <div class="project-item-main_img screenshot-macbook">
              <img class="" src={{portfolio_item.home_screenshots.laptop}}>
            </div>
          </div>
        </section>
        <section class="project-item_mobile-section">
          <div class="project-item_ipad-screenshot">
            <div class="project-item-main_img screenshot-ipad">
              <img class="" src={{portfolio_item.home_screenshots.ipad}}>
            </div>
          </div>
          <div class="project-item_iphone-screenshot">
            <div class="project-item-main_img screenshot-iphone">
              <img class="" src={{portfolio_item.home_screenshots.iphone}}>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="column-1 portfolio-item-screenshots">
        <div class="portfolio-item-screenshot" *ngFor="let portfolio_item_screenshot of portfolio_item.other_screenshots">
          <img src={{portfolio_item_screenshot}} alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column-1 portfolio-item-projects-nav">
        <a class="portfolio-item-prev-project" routerLink="/portfolio/{{prev_portfolio_item.route_url}}">
          <div class="portfolio-item-prev-img">
            <img src={{prev_portfolio_item.desc_img}}>
          </div>
          <div class="portfolio-item-prev">
            Previous Project
            <img src="../../../assets/images/back-arrow.png">
          </div>
        </a>
        <a class="portfolio-item-next-project" routerLink="/portfolio/{{next_portfolio_item.route_url}}">
          <div class="portfolio-item-next-img">
            <img src={{next_portfolio_item.desc_img}}>
          </div>
          <div class="portfolio-item-next">
            Next Project
            <img src="../../../assets/images/forward-arrow.png">
          </div>
        </a>
      </div>
    </div>
  </main>
</div>
