@import './src/sass/variables';
@import './src/sass/mixins';
.portfolio-item-main {
  .hero-row {
    flex-direction: column;
    h1 {
      font-size: 2.5rem;
      margin: 2rem 0 1rem 0;
      @include desktop {
        margin: 0 0 1rem 0;
      }
      @include tablet {
        margin: 0 0 1rem 0;
      }
    }
    h2 {
      padding: 0 0 0.5rem 0;
      border-bottom: 1.5px solid #111111;
      margin: 0.2rem 0;
    }
    .date-completed {
      margin: 0.2rem 0;
      font-size: 0.9rem;
    }
    h4 {
      font-weight: 500;
    }
    .tech-used-list {
      margin-bottom: 4rem;
    }
    @include desktop {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      margin: 5rem auto 0 auto; // max-width: 1000px;
    }
    @include tablet {
      flex-direction: column; // justify-content: center;
      margin: 5rem auto 0 auto; // max-width: 1000px;
    }
  }
}

.portfolio-item-desc {
  white-space: pre-line;
  margin: 1rem 0 2rem 0;
}

// .project-item-main_img {
.project-item_desktop-section {
  margin: 0 0 3rem 0;
}

.project-item_mobile-section {
  display: flex;
  justify-content: space-between;
  .project-item_ipad-screenshot {
    width: 60%;
    margin: 0 1rem 1rem 0;
  }
  .project-item_iphone-screenshot {
    width: 30%;
  }
}

.portfolio-item-main {
  .column-1 {
    width: 100%;
    max-width: none;
  }
  .portfolio-item-screenshots {
    max-width: 800px;
  }
}

.portfolio-item-screenshot {
  // max-width: 400px;
  // width: 100%;
  text-align: center; //   margin-bottom: 2rem;
  overflow: auto;
  padding-bottom: 50%;
  border: 20px solid black;
  border-radius: 20px;
  position: relative;
  margin: 2rem 0 2rem 0; // @include desktop {}
  // @include tablet {}
  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
}

.portfolio-item-projects-nav {
  display: flex;
  justify-content: center;
  margin: 4rem 0 4rem 0;
  padding: 2rem 0 0 0;
  border-top: 2px dotted black;
  a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
  }
  .portfolio-item-prev-project {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 0.5rem;
    @include desktop {
      justify-content: center;
      flex-direction: row;
    }
    @include tablet {
      justify-content: center;
      flex-direction: row;
    }
    .portfolio-item-prev-img {
      padding: 0 1rem 0 0;
      img {
        max-width: 300px;
        width: 100%;
      }
    }
    .portfolio-item-prev {
      display: flex;
      flex-direction: column;
      img {
        width: 50px;
      }
    }
  }
  .portfolio-item-next-project {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 0.5rem;
    @include desktop {
      justify-content: center;
      flex-direction: row;
    }
    @include tablet {
      justify-content: center;
      flex-direction: row;
    }
    .portfolio-item-next-img {
      order: 1;
      padding: 0 0 0 1rem;
      @include desktop {
        order: 2;
      }
      @include tablet {
        order: 2;
      }
      img {
        max-width: 300px;
        width: 100%;
      }
    }
    .portfolio-item-next {
      display: flex;
      flex-direction: column;
      order: 2;
      text-align: right;
      align-items: flex-end;
      @include desktop {
        order: 1;
      }
      @include tablet {
        order: 1;
      }
      img {
        width: 50px;
      }
    }
  }
}
